
@font-face {
  font-family: "Museo Sans Cyrillic-100";
  src: url("../fonts/MuseoSansCyrl-100.ttf");
  src: url("../fonts/MuseoSansCyrl-100.eot"),
       url("../fonts/MuseoSansCyrl-100.otf"),
       url("../fonts/MuseoSansCyrl-100.woff"),
       url("../fonts/MuseoSansCyrl-100.woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Cyrillic";
  src: url("../fonts/MuseoSansCyrl-300.ttf");
  src: url("../fonts/MuseoSansCyrl-300.eot"),
       url("../fonts/MuseoSansCyrl-300.otf"),
       url("../fonts/MuseoSansCyrl-300.woff"),
       url("../fonts/MuseoSansCyrl-300.woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Cyrillic";
  src: url("../fonts/MuseoSansCyrl-500.ttf");
  src: url("../fonts/MuseoSansCyrl-500.eot"),
       url("../fonts/MuseoSansCyrl-500.otf"),
       url("../fonts/MuseoSansCyrl-500.woff"),
       url("../fonts/MuseoSansCyrl-500.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Museo Sans Cyrillic";
  src: url("../fonts/MuseoSansCyrl-700.ttf");
  src: url("../fonts/MuseoSansCyrl-700.eot"),
       url("../fonts/MuseoSansCyrl-700.otf"),
       url("../fonts/MuseoSansCyrl-700.woff"),
       url("../fonts/MuseoSansCyrl-700.woff2");
  font-weight: 700;
  font-style: normal;
}

 @font-face {
  font-family: "Museo Sans Cyrillic";
  src: url("../fonts/MuseoSansCyrl-900.ttf");
  src: url("../fonts/MuseoSansCyrl-900.eot"),
  url("../fonts/MuseoSansCyrl-900.otf"),
  url("../fonts/MuseoSansCyrl-900.woff"),
  url("../fonts/MuseoSansCyrl-900.woff2");
  font-weight: 900;
  font-style: normal;
}

@generalColor: #ffdc00;
@fontColor:#161616;
@ContentText:#b2b1ae;
@FontSizeH2:25px;
@SpecialPrice:#eb2e2c;
@Border:1px solid #f4f4f4;

.b-mainslider-arrow {
    width: 35px;
    height: 35px;
    display: block;
    position: absolute;
    right: 0;
    top: -47px;
    border:1px solid #000;
    background-repeat:no-repeat;
    z-index: 1;

    &__left {
        left: 75px;
        top: 196px;
        background-image: url(http://localhost:3002/pictures/arrows/arrow-left-white.svg);
        background-position-y: 3px;
        background-position-x: 7px;
        z-index: 1;
        background-color: black;
        opacity: 0.2;
    }

    &__right {
        right: 80px;
        top: 195px;
        background-image: url(../pictures/arrows/arrow-right-white.svg);
        background-position-x: 9px;
        background-position-y: 2px;
        z-index: 1;
        background-color: black;
        opacity: 0.2;
    }
}

.b-arrow {
    width: 35px;
    height: 35px;
    display: block;
    position: absolute;
    right: 0;
    top: -47px;
    border:1px solid #000;
    background-repeat:no-repeat;
    z-index: 1;

    &__tv-right {
        right: 0;
        top: -54px;
        background-image: url(../pictures/arrows/arrow-right.svg);
        background-position-x: 10px;
        background-position-y: 4px;
        opacity: 0.14;
        z-index: 1;
    }

    &__tv-left {
        right: 47px;
        top: -54px;
        background-image: url(../pictures/arrows/arrow-left.svg);
        background-position-x: 8px;
        background-position-y: 4px;
        opacity: 0.14;
        z-index: 1;
    }

    &__product-right {
        right: 0;
        top: -66px;
        background-image: url(../pictures/arrows/arrow-right.svg);
        background-position-x: 10px;
        background-position-y: 4px;
        opacity: 0.14;
        z-index: 1;
    }

    &__product-left {
        right: 45px;
        top: -66px;
        background-image: url(../pictures/arrows/arrow-left.svg);
        background-position-x: 8px;
        background-position-y: 4px;
        opacity: 0.14;
        z-index: 1;
    }

    &__brand-right {
        right: 0;
        top: -73px;
        background-image: url(../pictures/arrows/arrow-right.svg);
        background-position-x: 10px;
        background-position-y: 4px;
        opacity: 0.14;
        z-index: 1;
    }

    &__brand-left {
        right: 45px;
        top: -73px;
        background-image: url(../pictures/arrows/arrow-left.svg);
        background-position-x: 8px;
        background-position-y: 4px;
        opacity: 0.14;
        z-index: 1;
    }
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Museo Sans Cyrillic", arial;
}

.b-container {
    margin: 0 auto;
    width: 1190px;
}

.slick-dotted.slick-slider {
    margin:0!important;
}

.b-header {

    &__location {
        padding-top: 13px;
        padding-bottom: 13px;
        border-bottom: 1px solid #eeeeee;
    }
    &__city-txt {
        display:inline-block;
        text-transform:uppercase;
        text-decoration:none;
        color:#666666;
        font-weight:500;
        font-size:13px;
    }

    &__city {
        text-transform:uppercase;
        text-decoration:none;
        color:#666666;
        font-weight:500;
        font-size:13px;
        margin-right: 105px;
    }
    &__txt {
        border-bottom:1px dotted #666666;
    }
    &__top-menu {
        display:inline-block;
        text-transform:uppercase;
        margin-right:77px;
    }

    &__top-item {
        text-decoration:none;
        color:#666666;
        font-weight:500;
        font-size:13px;
        margin-right: 33px;

        &--firstmod {
            margin-right: 34px;
        }

        &--secondmod {
            color:@SpecialPrice;
            margin-right: 0;
        }
    }

    &__number {
        text-decoration:none;
        color:@fontColor;
        font-weight:700;
        font-size:16px;

    }

    &__search-wrapper {
        padding-top: 18px;
        padding-bottom: 16px;

    }

    &__logo {
        display:inline-block;
        width:212px;
        margin-right: 84px;
    }

    &__img {
        width:100%;
        height:45px;
    }
    &__search-container {
        position:relative;
        display: inline-block;
        vertical-align: top;
    }

    &__searcharea {
        width: 690px;
        padding: 11px 0px 10px 13px;
        margin-right: 59px;
        margin-top: 3px;
        font-size: 15px;
        font-weight: 300;
        outline:none;
        border: 1px solid #dddddd;
    }

    &__search-link {
        position: absolute;
        right: 69px;
        top: 12px;
        width:22px;
    }
    &__icon {
        width:100%;
        height:23px;
    }

    &__personal-acc {
        width: 59px;
        display: inline-block;
        color: #161616;
        text-decoration: none;
        text-transform: uppercase;
        text-align: right;
        vertical-align: top;
        margin-top: 7px;
        margin-right: 17px;
        line-height: 14px;
    }

    &__office {
        font-weight:700;
        font-size:13px;
        color:#333333;
    }

    &__enter {
        font-weight:500;
        font-size:11px;
        color:#666666;
    }

    &__wrapper {
        background-color:@generalColor;
        border-bottom:1px solid #ffea66;
    }

    &__menu {
        padding: 23px 0px 18px 0;
    }

    &__item {
        display: inline-block;
        margin-right: 47px;

        &--mod {
            margin:0;
        }
    }

    &__link {
        color:@fontColor;
        text-decoration:none;
        text-transform:uppercase;
        font-size: 15px;
    }

}


.b-basket {
    display:inline-block;
    vertical-align: top;
    border-left: 1px solid #eeeeee;
    padding-left: 21px;
    padding-top: 6px;
    position:relative;
    

    &__icon {
        width:100%;
    }

    &__number {
        font-size: 13px;
        position: absolute;
        top: -2px;
        right: -2px;
        color: #333333;
        background-color: @generalColor;
        border-radius: 50%;
        width: 21px;
        height: 21px;
        text-align: center;
        line-height: 23px;
    }
}



.b-mainslider {
    padding-bottom: 32px;
    position:relative;

    &__img-container {

        /* display:inline-block; */
    }

    &__img {
        width: 100%;
        height: 428px;
    }
}

.b-previev {
    padding-bottom:51px;
    word-spacing: 10px;
    border-bottom: @Border;

    &__title {
        padding-top: 20px;
        padding-bottom: 39px;
        letter-spacing: 0.6px;
        word-spacing: 0;
    }

    &__wrapper {
        font-size:0;
    }

    &__img-container {
        display:inline-block;
        margin-bottom: 10px;

        &--size600 {
            display:none;
        }
        &--size960 {
            display:none;
        }
    }
}

.b-round {
    padding-top: 41px;
    padding-bottom: 37px;
    font-size:0;
    border-bottom:@Border;

    &__title {
        display: none;
    }

    &__wrapper {

    }

    &__figure {
        margin: 0;
        width:249px;
        display:inline-block;
        margin-right: 48px;
    }

    &__img-container {
        display: inline-block;
        margin-right: 17px;
        vertical-align: top;
    }

    &__img {
        width: 76px;
        height: 76px;
        border-radius:50%;
    }
    &__txt{
        width: 131px;
        font-size: 13px;
        text-transform: uppercase;
        display: inline-block;
        margin-top: 21px;
        line-height: 16px;

        &--mod {
            width:143px;
        }

        &--mod-one {
            width: 140px;
        }
    }
}

.b-category {
    padding-bottom: 20px;
    border-bottom:@Border;

    &__title {
        padding-top:55px;
        padding-bottom:39px;
        letter-spacing: 0.5px;
    }
    &__wrapper {
        list-style:none;
        padding: 0;
        font-size:0;
        word-spacing:8px; /* делает пробелы м-у инлайн-блоками */
    }
    &__list {
        display:inline-block;
        width: 291px;
        margin-bottom: 38px;
        text-align: center;
        text-decoration:none;
        font-size: 21px;
        word-spacing: 0;
    }

    &__item {
    text-decoration:none;
    }

    &__img-container{
        display: block;
        margin-bottom: 11px;
    }
/*     &__img {
    width: 291px;
    height: 271px;
} */

    &__txt {
        text-decoration: none;
        font-size:20px;
        font-weight:700;
        color:@fontColor;

    }
}

.b-brands {
    padding-bottom:42px;

    &__ttl-wrapper {
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        padding-bottom: 38px;
        padding-top: 61px;
    }

    &__title {
        margin:0;
    }

    &__ttl-link { /* текст в этой ссылке при уменьшении размера окна вылазит за границы */ 
        border: 1px solid #dddddd;
        text-decoration: none;
        text-transform:uppercase;
        font-size:13px;
        color:@fontColor;
        margin-right: 91px;
        width: 162px;
        height:35px;
        padding: 10px 18px;
        outline:none;
    }

    &__wrapper {
        display:flex !important;
        flex-direction: row !important;
        justify-content: space-around !important;
    }

    &__link {
        width: 193px !important;
        height: 129px !important;
        margin-right: 6px;
        border:1px solid #f4f4f4;
        outline:none;
    }

    &__link:hover {
        border:@Border;
    }

    &__img{
        width:150px;
        height:100px;
    }
}

.b-bann-er{
        border-bottom: @Border;
        padding-bottom: 55px;
        text-align:center;
}

.b-products {
    padding-bottom: 23px;
    border-bottom: @Border;

    &__title {
        font-size:@FontSizeH2;
        padding-bottom: 36px;
        padding-top: 56px;
    }

    &__wrapper {
        display:flex;
        flex-direction:row;
    }

    &__link {
        width: 264px !important;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        text-align: center;
        margin-right: 33px;
        outline: none;
    }

    &__img-container {
        width: 100%;
        height: 200px;
        display: block;
        margin-bottom: 56px;
    }

    &__img {
        text-align:center;
    }

    &__content {
        text-align: left;
        padding-left: 24px;
        display:block;
        margin-bottom: 53px;
    }
    &__text {
        display:block;
        text-decoration: none;
        font-size: 15px;
        font-weight: 700;
        color: #666666;
        margin-bottom: 28px;
        line-height: 20px;

    }

    &__price {
        color: @fontColor;
        display: block;
        font-size: 24px;
        font-weight: 900;
        text-transform: none;

        &--min {
            font-size:12px;
        }
    }
}

.b-viewed {
    padding-bottom:58px;

    &__wrapper {
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 16px;
    }

    &__title {
        font-size:@FontSizeH2;
        margin: 0;
        padding-bottom: 36px;
    }

    &__arrow-container {
        margin-top:10px;

    }
}

.b-slide {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__js-box {
        margin:0;
    }

    &__wrapper {
        display: flex;
        margin: 0;
        border: 1px solid #e4e1d9;
        width: 288px;
        height: 118px;
        padding: 30px 15px;
        text-decoration: none;
        outline:none;

        &--mod{
            padding: 18px 17px;
        }

        &--box {
            padding: 25px 16px;
        }
        &--padd {
            padding: 31px 23px;
        }

    }
    &__img-container {
        margin-right:16px;

        &--mod {
            padding-top: 12px;
        }
    }

    &__img {
        width: 87px;
        height: auto;

        &--mod {
            width:93px;
        }
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__text {
        display: block;
        text-decoration: none;
        font-size: 13px;
        font-weight: 700;
        color: #666666;
        text-transform: uppercase;
        padding-top: 5px;

        &--mod{
            text-transform: none;
            padding: 0;
        }
        &--padd{
            padding-top:8px;
        }
    }

    &__price {
        color:@fontColor;
        font-weight:900;
        display: block;
        font-size: 18px;
        font-weight: 900;
        text-transform:none;

        &--mod {
            padding-bottom: 12px;
        }

        &--min {
            font-size:12px;
        }
        &--color {
            color:@SpecialPrice;
        }
    }
}


.b-callback {
    padding-bottom: 38px;

    &__title {
        font-size: @FontSizeH2;
        font-weight: 700;
        color: @fontColor;
        margin-bottom: 22px;
        margin-top:0;
    }

    &__title-txt {
        display:inline-block;
        font-size:15px ;
        font-weight:500;
        color:@fontColor;
        margin:0;
        max-width:468px;
        padding-top: 3px; /* выравнивает параграф */
        margin-left: -2px; /* выравнивает параграф */
        line-height: 19px; /* выравнивает параграф */
    }

    &__form {
        display: inline-block;
        margin: 0;
        text-align: right;
    }

    &__email {
        width: 392px;
        height: 38px;
        font-size: 15px;
        font-weight: 500;
        color: #999999;
        margin-right: 5px;
        padding-left: 10px;
        outline: none;
        vertical-align: inherit;

        &__email::-webkit-input-placeholder {
        color: #999999;
        font-size: 15px;
        font-weight: 500;
        }

        &__email::-moz-placeholder {
        color: #999999;
        font-size: 15px;
        font-weight: 500;
        }

        &__email::-moz-placeholder {
        color: #999999;
        font-size: 15px;
        font-weight: 500;
        }

        &__email::-ms-input-placeholder {
        color: #999999;
        font-size: 15px;
        font-weight: 500;
        }
    }

    &__button {
        padding: 11px 38px;
        font-size: 15px;
        font-family: "Museo Sans Cyrillic";
        font-weight: 700;
        color: @fontColor;
        background-color: @generalColor;
        text-transform: uppercase;
        text-decoration:none;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        flex-direction:row;
    }
}

.b-footer {
    background-color:#efede7;
    background-size: cover;
    padding-top: 40px;

    &__wrapper {
        display: flex;
        flex-direction: row;
        padding-bottom: 33px;
        border-bottom: @Border;
    }

    &__li {
        margin-bottom: 4px;
    }

    &__link {
        display:block;
        color:@fontColor;
        font-size:18px;
        font-weight:700;
        text-decoration:none;
        margin-bottom:13px;
    }

    &__block {
        list-style: none;
        padding-left: 0;
        margin: 0;

        &--about {
            width: 176px;
            margin-right: 123px;
        }
        &--help {
            width: 193px;
            margin-right: 106px;
        }

        &--serveses {
            margin-right: 81px;
        }
    }

    &__list {
        text-decoration:none;
        color:@ContentText;
        font-size:13px;
        font-weight:500;
    }

    &__callback {
         width: 221px;
    }

    &__title {
        margin-top:0;
        font-weight:700;
        font-size:18px;
        color:@fontColor;
    }

    &__number {
        display: block;
        margin-bottom: 4px;
        font-weight:700;
        font-size:15px;
        text-transform:uppercase;
        text-decoration:none;
        color:@fontColor;
    }

    &__content {
        font-weight:500;
        font-size:13px;
        margin-top: 0px;
        margin-bottom: 15px;
        color:@fontColor;
    }

    &__social {
        width: 221px;
    }

    &__icon {
        display:inline-block;

        &--img {
            width: 36px;
            height: 36px;
            margin-right: 5px;
        }
    }

    &__logo {
        display:flex;
        justify-content:space-between;
        margin-top: 24px; /* паддинг предыдущего блока не подошел, пока отступ маргином */
        padding-bottom:40px;
        }

    &__copyright {
        margin:0;
        color:@ContentText;
        font-size:13px;
        font-weight:500;

    }

    &__webmaster {
        text-decoration:none;
        color:@ContentText;
        font-size:13px;
        font-weight:500;
        margin-right: 70px;
    }
}


